@import "../../styles/variaveis.scss";
@import "../../styles/breakpoints";

.modal_termos_uso{
    outline: none;
    border: 4px solid  #1976D2;
    color: #000;
    position: relative;
    padding: 20px;
    margin: 4% auto;
    width: 60%;
    overflow: auto;
    min-width: 400px;
    border-radius: 10px;
    background-color: #fff;
    animation: scale-in 1s;
    .modal_buttom{
        position: relative;
        left: 89%;
        @media(max-width: $desktop_md) {
            left: 86%;
        }
        @media(max-width: $desktop_sm) {
            left: 84%;
        }

        @media(max-width: 870px) {
            left: 82%;
        }

        @media(max-width: $mobile) {
            left: 77%;
        }
    }
    &::-webkit-scrollbar{
        width: 10px;

    }
    &::-webkit-scrollbar-track{
        background-color: #A9A9A9;
        border-radius: 10px;
        margin: 0 2px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #363636;
        border-radius: 10px;
    }
    @media(max-width: 1420px) {
        height: 83%;
    }
    @media(max-width: $mobile) {
        height: 85%;
    }
    
}

@keyframes scale-in{
    0%{
        transform: translateY(-100%) scale(0);
        opacity: 0;
    }
    100%{
        tranform: translateY(0%) scale(1);
        opacity: 1;
    }
}
