.conteineir{
    width: 100%;
    padding: 20px 0;
}

.box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .campogrande{
        width: 32.9rem;
    }
    .campomedio{
       width: 24rem; 
    }
    .campopequeno{
        width: 15.8rem;
    }
    .campomini{
        width: 11.4rem;
    }
}
