#input-texto{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    label{
        padding-bottom: 5px;
    }
    input{
        padding: 10px;
        border-radius: 5px;
        border: 1px #CCCCCC solid;
        outline: none;
    }
    input:focus{
       border:1px #66AFE9 solid;
       box-shadow:  0 0 8px #66afe9;
       outline: none;
    }
}