.container{
    width: 100%;
    .box{
        width: 80%;
        margin:0 auto;
        h6{
            padding: 0px 10px;
            color: red;
        }
        .centralizar{
            color: #1976D2;
            text-align: center;
            border-bottom: 2px solid #CCCCCC;
        }
        .central{
            padding: 0px 10px;
            border-bottom: 2px solid #CCCCCC;
        }
    }
    .header{
        display: flex;
        width: 70%;
        margin:0 auto;
        
    }
    .campogrande{
        width: 32.9rem;
    }
    .box_button{
        width: 70%;
        margin: 0 auto;
        
        .button{
            width: 58.8rem;
            padding-top: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: end;
        }
        
    }
}