.conteiner{
    width: 100%;
    .box{
        width: 70%;
        margin:0 auto;
        h6{
            padding: 0px 10px;
            color: red;
        }
        .centralizar{
            color: #1976D2;
            width: 58.8rem;
            text-align: center;
            border-bottom: 2px solid #CCCCCC;
        }
        .central{
            padding: 0px 10px;
            width: 57.45rem;
            border-bottom: 2px solid #CCCCCC;
        }
    }
    .header{
        display: flex;
        width: 70%;
        margin:0 auto;
        
    }
    .campogrande{
        width: 32.9rem;
    }
}