.box_button_continue{
    width: 8rem;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1976D2;
    color: #fff;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    outline: none;
    border: none;
    cursor: pointer;
    &:hover{
        background-color: #5590cb;
        color: #fff;
    }
}
